UnrealProject/Saved/
UnrealProject/Intermediate/
UnrealProject/Saved/*
UnrealProject/Intermediate/*
UnrealProject/Saved/Logs/Collab2.log
UnrealProject/Saved/Config/Windows/Engine.ini
UnrealProject/Saved/Config/Windows/EditorPerProjectUserSettings.ini
UnrealProject/Saved/Autosaves/PackageRestoreData.json
UnrealProject/Intermediate/CachedAssetRegistry.bin
UnrealProject/Saved/AutoScreenshot.png
UnrealProject/Saved/Config/Windows/EditorPerProjectUserSettings.ini
UnrealProject/Saved/Config/Windows/Engine.ini
UnrealProject/Saved/Logs/Collab2.log
UnrealProject/Intermediate/CachedAssetRegistry.bin
UnrealProject/Intermediate/CachedAssetRegistry.bin
UnrealProject/Saved/AutoScreenshot.png
UnrealProject/Saved/Config/Windows/EditorPerProjectUserSettings.ini
UnrealProject/Saved/Logs/Collab2.log
UnrealProject/Plugins/UE4GitPlugin/